$F1_primaryFont: "Big Shoulders Display", serif;
$F2_secondaryFont: "Lexend Deca", serif;

// Primary Colors
$C1_brightOrange: hsl(31, 77%, 52%);
$C2_darkCyan: hsl(184, 100%, 22%);
$C3_veryDarkCyan: hsl(179, 100%, 13%);

// Neutral Colors
$C4_transparentWhite: hsla(0, 0%, 100%, 0.75);
$C5_veryLightGray: hsl(0, 0%, 95%);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: $C5_veryLightGray;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 860px;
    height: 470px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.first_Card {
    background-color: $C1_brightOrange;
}

.second_Card {
    background-color: $C2_darkCyan;
}

.third_Card {
    background-color: $C3_veryDarkCyan;
}
